@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.sectionsobre{
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    margin-top: 70px;
    background: #FFFFFF;
}
.textdiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    width: 500px;
    margin: 0px;
    padding: 0px;
}
.pWhats{
    display: flex;
    color: #217BF4;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin: 0px;
    margin-bottom: 10px;
}
.h2Why{
    display: flex;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #0A093D;
    margin: 0px;
    max-width: 400px;
    margin-bottom: 16px;
}
.precent{
    display: flex;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #656464;
    margin: 0px;
    max-width: 400px;

}
.ullist{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    gap: 16px;
    color: #171648;
    padding-left: 20px;
}
li::marker{
    color: #217BF4;
}
.imagensdiv{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-flow: column wrap;
    height: 550px;
    width: 600px;
    gap: 20px;
    margin-top: -60px;
}
.imgsobre{
    display: flex;
    max-width: 290px;
    max-height: 420px;
}